<div class="center-card">
  <div class="white-card text-center">
    <h4>Details of Road</h4>
    <div *ngIf="road; else noRoad" class="text-start mt-3">
      <p><strong>Road Id :-</strong> {{ road.id }}</p>
      <p><strong>Road Name :-</strong> {{ road.roadName }}</p>
      <p><strong>Detector Name :-</strong> {{ road.detectorName }}</p>
      <p><strong>Status :-</strong> {{ road.status }}</p>
      <a routerLink="/roads" class="btn btn-sm btn-primary">Back</a>
    </div>
    <ng-template #noRoad>
      <p>Road not found</p>
      <a routerLink="/roads" class="btn btn-sm btn-primary">Back</a>
    </ng-template>
  </div>
</div>
